<!DOCTYPE html>
<html>
    <head>
        <title>Change password</title>
        <link rel="stylesheet" type="text/css" href="static/resources/styles/password.css">
        <link rel="stylesheet" type="text/css" href="static/resources/borrowed/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="static/resources/borrowed/css/grid.css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav>
                <div class="row">
                    <ul class="main-nav">
                        <li><a href="{{url_for('index')}}">Main page</a></li>
                        <li><a href="{{url_for('test.start')}}">Test</a></li>
                        <div class="dropdown">
                            <li><a href="{{url_for('profile', id=current_user.id)}}" class="dropbtn"> Profile </a></li>
                            <div class="dropdown-content">
                                <a href="{{url_for('logout')}}">Logout</a>
                            </div>
                        </div>
                    </ul>
                </div>
            </nav>
            <section class="change password">
                <form action="{{url_for('editPassword')}}" method="POST">
            <h2>Change Password </h2>
            Current password <br> <input type="password" name="oldPassword" placeholder="Current password" required> <br>
            New password <br> <input type="password" name="password1" placeholder="New password" required><br>
            Confirm password <br> <input type="password" name="password2" placeholder="Confirm password" required> <br>
            <input type="submit" name="" value="Confirm">
        </form>
            </section>
        </header>
    </body>
</html>